* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:  #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    width:400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1{
    margin-bottom: 25px;
    text-align: center;
    color: black;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

label{
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #0d9488;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background: #0f766e;
}

.resultado {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #eee;
}

.resultado p {
    margin-bottom: 10px;
    font-size: 18px;
}

.resultado span {
    font-weight: bold;
    color: #0d9488;
}