

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root {
    /* Cores principais */
    --cor-fundo: #1E1F22;
    --cor-texto: #ffffff;
    --cor-destaque: #FFAE00;
    --cor-destaque-hover: #a87403;

    /* Cores auxiliares */
    --cor-box: rgba(37, 37, 37, 0.8);
    --cor-overlay: rgba(0, 0, 0, 0.2);
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/aula19/imagens/bg.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: var(--cor-texto);
}

/* Overlay (agora funciona corretamente) */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--cor-overlay);
    z-index: -1;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
    padding: 30px;
    width: 100%;
}

.carousel-inner{
    width: 200px;

}

.imagem-carossel{
    width: 200px;
    height: auto;
}

@media screen and (max-width: 768px) {
    header {
        margin: auto;
        padding: 5px;
        width: 100%;
    }
}

/* Logo */
.logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Menu */
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--cor-destaque);
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction:row;
        padding: auto;
        gap: 10px;
    }
}

.aconra{
    color: var(--cor-texto);
    transition: 0.3s;
}

.ancora:hover {
    color: var(--cor-destaque);
}

/* Títulos */
h1 {
    font-family: "Playfair Display", serif;
    color: var(--cor-texto);
    text-align: center;
    margin: 20px;
    
}

h2 {
    font-family: "Playfair Display", serif;
    color: var(--cor-destaque);
    text-align: center;
    padding: 20px;
}

/* Box Produto */
.boxProduto {
    display: flex;
    margin: 30px auto;
    width: 600px;
    border-radius: 25px;
    background-color: var(--cor-box);
    overflow: hidden;
}

@media (max-width: 768px) {
    .boxProduto {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}

/* Imagem */
img {
    width: 300px;
    height: auto;
}

/* Texto */
.boxTexto {
    padding: 10px;
}

/* Botão */
button {
    font-family: "Playfair Display", serif;
    background-color: var(--cor-destaque);
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    color: var(--cor-texto);
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: 0.1s;
}


button:hover {
    background-color: var(--cor-destaque-hover);
}

.remover{
    width: 50px;
}

.offcanvas-body {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px auto;
 
}

.diminuir{
    width: 50px;
}

.aumentar{
    width: 50px;
}

.btn-primary{
    background-color: var(--cor-destaque);
    border: none;
    color: var(--cor-texto);
    padding: 10px 20px;
    border-radius: 10px;
  
}

.btn-primary:hover {
    background-color: var(--cor-destaque-hover);
}

.offcanvas{
    display: flex;
    flex-direction: ;
    width: 700px !important;
    background: #07111f;
    color: white;
    padding: 20px;
}

.offcanvas-body{
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.offcanvas-title{
    font-size: 40px;
    color: var(--cor-texto);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.modal-body{
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: auto;
    gap: 20px;
}

.carrinho-header{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    padding: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.linha-carrinho{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
}

.controle-quantidade{
    display: flex;
    align-items: center;
    gap: 10px;
}

.controle-quantidade button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.quantidade-box{
    width: 60px;
    text-align: center;
    padding: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

#limparCarrinho{
    width: 300px;
    font-size:15px;
    font-weight: bold;
}

.box-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
}

.box-limpar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-finalizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalTotalCarrinho{
    padding: 15px 25px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
}

#finalizarCompra{
    width: 300px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

